
.web_wechat_search {
    background: url(../img/icons.png) 0 -1946px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.menuicon_volume_on {
    background: url(../img/icons.png) 0 -338px;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.menuicon_quit {
    background: url(../img/icons.png) 0 -270px;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_chat {
    background: url(../img/icons.png) 0 -2048px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_public {
    background: url(../img/icons.png) 0 -2232px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_friends {
    background: url(../img/icons.png) 0 -2140px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}
